{{#each this}}
 
    <div class="photo-card">
        <a href="{{largeImageURL}}">
            <img class="image" src="{{webformatURL}}" alt="{{tags}}" loading="lazy"/>
            </a>
    <ul class="info">
        <li class="info-item">
            <b>Likes</b>
            <p>{{likes}}</p>
        </li>
        <li class="info-item">
            <b>Views</b>
            <p>{{views}}</p>
        </li>
        <li class="info-item">
            <b>Comments</b>
            <p>{{comments}}</p>
        </li>
        <li class="info-item">
            <b>Downloads</b>
            <p>{{downloads}}</p>
        </li>
        
    </ul>
    </div>
{{/each}}